<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1099403384658-fv4nfmu4i9usegrafdircp8fk6mc5h9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1099403384658-fv4nfmu4i9usegrafdircp8fk6mc5h9v</string>
	<key>API_KEY</key>
	<string>AIzaSyDRkTvXXSidIVKkmuYs5jtD7xeNR8p5sO8</string>
	<key>GCM_SENDER_ID</key>
	<string>1099403384658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Motivia-App</string>
	<key>PROJECT_ID</key>
	<string>motivia-ed0ff</string>
	<key>STORAGE_BUCKET</key>
	<string>motivia-ed0ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1099403384658:ios:f20c65b966f4259e5f0c8b</string>
</dict>
</plist>